@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-primary: #099775;
    --color-primary-light: #6ff6d6;
    --color-primary-bg: #b7fbea;
    --color-primary-hover: #077a5e;
    --color-primary-active: #066b52;
    --color-primary-dark: #066b52;
    --color-secondary: #d33f49;
    --color-secondary-light: #e7979d;
    --color-secondary-hover: #b8353e;
    --color-neutral-strong: #1c2541;
    --color-neutral-medium: #3a506b;
    --color-neutral-light: #b0c0d3;
    --color-neutral-border: #e5e9ef;
    --color-bg-white: #ffffff;
    --color-bg-light: #f8fafb;
    --color-bg-cream: #f5f7f9;
    --color-bg-dark: #1c2541;
    --color-bg-accent: #b7fbea;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    ::selection {
        background-color: var(--color-primary-bg);
        color: var(--color-primary-dark);
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-bg-light);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-neutral-light);
        border-radius: 999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
